/* 
    Document   : Page
    Created on : Aug 13, 2014, 11:37:40 AM
    Author     : jonadele
    Description:
        Purpose of the stylesheet follows.
        
        The Css file structure needs to be in the Web pages folder
*/

root { 
    display: block;
}
h1{
    font-size: 3em;
}
#logInAndCreateAccount{/*I want everything in this tag to move right*/
    border: solid;
    margin-left: 1000px; 
    font-size: 9pt;
    text-align: left;
}
#logInAndCreateAccount h3{
    font-weight: bold;
    font-style: italic;
    font-size: 16pt;
}
#welcome{
    position: fixed;
    top: -30px;
    left:0px;
}